.hero-container {
  height: 100%;
  width: 100%;
  /* background: linear-gradient(
    to right,
    rgba(243, 220, 89, 0.133),
    rgba(231, 14, 231, 0.2)
  ); */
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "item1 item1 item2 "
    "item1 item1 item3 ";
  padding: 5rem 1rem;
  /* background: url("/public/backbg.jpg") no-repeat center center/cover; */
}

.item {
    border-radius: 17px;

  background: url("/public/bg.webp") no-repeat center center/cover;
}

.item1 {
  
  border-radius: 17px;
  grid-area: item1;
}

.item2 {
  background: url("/public//Uniqpay.gif") no-repeat center center/cover ;
  grid-area: item2;
}


.item2,
.item3 {
  min-width: 300px;
  min-height: 300px;
  height: 100%;
    background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.1)
  );

}

.item3 {
 
  grid-area: item3;
  background: url("/public/backbg1.jpg") no-repeat center center/cover;
}

.heading-text {
    border-radius: 17px;

  height: 100%;
  width: 100%;
  text-transform: capitalize;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.933),
    rgba(0, 0, 0, 0.912)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.heading-text h1 {
  animation: hedaing-animate 5s linear infinite;
  transition: 1s;
}

.heading-text > div {
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.933),
    rgba(0, 0, 0, 0.2)
  );
}

.features {
  text-align: center;
  height:400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.feature {
  height:200px;
  min-width: 200px;
  background: #fff;
  color: #000;
  margin-bottom: 10px;
  /* border: #fa2815 1px solid  ; */
  animation:slide-y 10s linear infinite ;
  box-shadow: 0px 0px 2px 1px  #158ffa;
  border-radius: 17px;
  padding: 0px 10px;
display: flex;
justify-content: center;  
align-items: center;

}

@keyframes slide-y {
  0%{
    transform: translateY(-100%);
  }
   
  100%{
    transform: translateY(600%);
  }
  
} 

@keyframes hedaing-animate {
  0% {
    color: #fa2815;
    /* text-shadow: 5px 2px #84fa15; */
  }
  25% {
    color: #84fa15;
  }
  75% {
    color: #df15fa;
    /* text-shadow: 2px 1px #15ebfa; */
  }

  90% {
    color: #158ffa;
    /* text-shadow: 2px 1px #84fa15; */
  }

  100% {
    color: #fa2815;
  }
}

.item3 {
  grid-area: item3;
}

@media screen and (max-width: 765px) {
  .hero-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 5px;
  }

  .item {
    width: 90%;
    margin: 10px auto;
    min-height: 500px;
  }
  .heading-text {
    row-gap: 20px;
    flex-direction: column;
  }
}
