nav {
  box-shadow: 0px 0px 10px 4px black;
}
nav ul {
  position: relative;
  padding: 1px auto;
}

nav ul li {
  position: relative;
  padding: 2px;
  margin: auto;
}

nav ul li::after {
  content: "";
  position: absolute;
  border-bottom: 2px solid #ffffff;
  height: 2px;
  width: 0%;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
  transition: 0.2s linear;
  margin: auto;
}

nav ul li:hover:after {
  width: 100%;
}

.pay {
  animation: rotatePay 2s linear infinite;
  transition: 2s;
}

@keyframes rotatePay {
  0% {
    color: #fff;
  }

  100% {
 
     color: #fb4d08;
  }
}

.devapi {
  position: relative;
}

ul li .devapilist {
  /* cursor: pointer; */
  position: absolute;
  left: -80%;
  top: 30px;
  height: 0%;
  min-width: 200px;
  text-align: center;
  background-color: rgb(17 24 39);
   line-height: 2;

  z-index: 99;
  overflow: hidden;
  transition: 0.2s linear;
  font-style: oblique;
  text-transform: capitalize;
  border-radius: 10px;
}

.devapilist ul li {
  cursor: pointer;
}

ul li:hover .devapilist {
  display: block;
  height:200px;
  /* box-shadow: 0px 0px 20px 3px #cd410c; */
}

.devapilist ul li:hover {
  background-color: #000;
}
