.products {
  width: 90%;
  height: 100%;
  padding: 10px;
  color: #000;
  /* background-color: #ddd6; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  margin: auto;
}

.abutproduct,
.product {
  margin-top: 10px;
  flex-grow: 1;
  min-height: 300px;
  background-color: #fff;
  color: #333;
  /* box-shadow: 0px 0px 10px 10px #3331; */
}
.abutproduct h1{
  color: #000;

}

.product {
  width: 100%;
  height: 100%;
  background: center;
  background: cover;
  padding: 10px;
}

 


 

.product img {
  width: 100%;
  max-height: 300px;
  background: center;
  background: cover;
}

.product img img{
  width: 100%;
  height: 100%;

}

.abutproduct {
  text-align: justify;
  width: 100%;
  height: 100%;
  padding: 5px;
}

 

@media screen and (min-width: 667px) {
  .products {
    /* background-color: #55d; */
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .abutproduct,
  .product {
    /* background-color: #ff0; */
    flex-basis: 40%;
    margin: 10px;
  }
}
