.members {
  height: 100%;
  width: 100%;
  margin: auto 1px;
   display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  padding: 200px auto;
  margin-top: 70px;
  row-gap: 70px;
   /* animation:slide-x 20s linear infinite ; */
}

/* @keyframes slide-x {
  0%{
    transform: translateY(0%);
  }
  100%{
    transform: translateY(-100%);
  }
  
} */

.itemm {
  min-height: 300px;
  max-width: 300px;
  background: #085fb6;
  color: #fff;
  border-radius: 100px 0px 100px 0px;
  margin-top: 20px;
}

.itemm:hover {
  /* background: #b60825; */
    background: #314b66;

  scale: 1.2;
  transition: 0.5s linear all;
 }
