.carousel-company {
  background-color: #fff;
  /* border: 1px slategrey solid; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 0px  100px 0px;
    animation:slide-x 20s linear infinite ;

}

@keyframes slide-x {
  0%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-100%);
  }
  
} 