.carousel1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  width: 100%;
  margin: 100px 0px 100px 0px;
  padding: 20px;
  rotate: -6deg;
  height: 250px;
  background-color: #ddd6;
  /* rotate: 2 0 1 10deg; */

}

.carousel-company {
  
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  rotate: 6deg;
 }

.carousel-company div {
  height: 150px;
  min-width: 100px;
  width: 100%;
  position: inherit;
  /* background-color: #ddd6; */
  cursor: pointer;
  border-radius: 17px;
  animation: slide-x 4s linear infinite;
  margin: 10px;

 
}

.carousel-company div img {
  width: 100%;
  height: 100%;
  background: center center/cover;
}

.carousel-company > div:hover {
  /* background-color: #fc9b0afb; */
  background-color: #085fb6;
  /* animation: none; */
  z-index: 999;
  /* animation: reverse; */
}

@keyframes slide-x {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(200%);
  }
}
