@tailwind base;
@tailwind components;
@tailwind utilities;

/* .social{
     box-shadow: 1px 1px 5px 1px #fff;
    border-radius: 20px;
} */

.hero-bg{
    height: 100%;
    width: 100%;
    background: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.shutterstock.com%2Fsearch%2Fonline-banking&psig=AOvVaw32nngU9qJ0WykngCR0JxcI&ust=1702642660332000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCOiLsq70joMDFQAAAAAdAAAAABAD");

}

.employee{
    width: 80%;
    margin: auto;
    display: flex;
    row-gap:20px;
     align-items: center;
    justify-content:space-evenly;
    background-color: #0001;
    align-items: center;
    
}

.employee .emp-img,.employee .emp-text{
    width: 40%;
    padding: 10px;
    text-align: justify;
    margin: 10px;

 }

 .employee .emp-img{
     width: 200px;
     height: 200px;
     margin: auto;
}
.employee .emp-img img{
    height: 100%;
    width: 80%;
    margin: auto;

 }




/* carousel */
.carousel{
    height: 100px;
    width: 80%;
    /* background: #99f; */
    margin: auto;
    overflow: hidden;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    row-gap: 20px;
    align-items: center;
    
    
}
.carousel h1{
    animation: partner 10s  linear infinite;
    background: #f3f;
    height: 100px;
    width:100px;
    padding: 10px;
    margin-left:100px;

  }

@keyframes partner {

    0%{
        background: #005;
        transform: translateX(600px);
    }
    
    
    25%{
        background: #d00;
        transform: translateX(-100px);
    }
         
 
    75%{
        background: #000;
        transform: translateX(-400px);
    }
         
 
    100%{
        background: #0f0;
        transform: translateX(0px);

    }
   

    
}


@media screen and (max-width:768px) {
    
    
    .employee{
        flex-direction: column;
     }
     .employee .emp-img,.employee .emp-text{
        width: 100%;
     }
    
    
    
}